VITE_API_BASE_URL=https://hlvn-serverless.vercel.app
VITE_DEV_PORT=3002
VITE_SUPABASE_URL=https://tataqicyuqqolsldwxbq.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_JsMKErCCtiNmZE8JUYvQKA_KbJiinpw
